<!-- "Join Team" (Post) Form -->
<div class="col-md-5">

    <!-- Creates Main Panel -->
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Requiero un servicio de... <span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">

            <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
            <form name ="addForm" novalidate>

                <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                <div class="form-group">
                    <label for="name">Tu nombre: <span class="badge">campos requeridos</span></label>
                    <input type="text" class="form-control" id="name" ng-model="formData.name" required>
                </div>

                <div class="form-group">
                    <label for="skillrequired">Servicio requerido</label>
                    <input type="text" class="form-control" id="skillrequired" placeholder="Fontarería, Albañilería, Jardinería" ng-model="formData.skillrequired" required>
                </div>
                <div class="form-group">
                    <label for="description">Descripcion de la chamba</label>
                    <input type="text" class="form-control" id="description" placeholder="Se rompio la llave del grifo" ng-model="formData.description" required>
                </div>

                <div class="form-group">
                    <label for="phone">telefono</label>
                    <input type="text" class="form-control" id="phone" placeholder="+52 33 36 45 18" ng-model="formData.phone" required>
                </div>

                <div class="form-group" hidden>
                    <label for="latitude">Latitud</label>
                    <input type="text" class="form-control" id="latitude" value="20.734699" ng-model="formData.latitude" readonly>
                </div>
                <div class="form-group" hidden>
                    <label for="longitude">Longitud</label>
                    <input type="text" class="form-control" id="longitude" value="-103.455321" ng-model="formData.longitude" readonly>
                </div>
                <div class="form-group">
                    <!-- Note RefreshLoc button tied to addCtrl. This requests a refresh of the HTML5 verified location. -->
                    <label for="verified">Verificar mi ubicacion <span><button ng-click="refreshLoc()" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-refresh"></span></button></span></label>
                    <!--
                        <input type="text" class="form-control" id="verified" placeholder= "Nope (Thanks for spamming my map...)" ng-model="formData.htmlverified" readonly>
                     -->
                </div>

                <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                <button type="submit" class="btn btn-danger btn-block" ng-click="createUser()" ng-disabled="addForm.$invalid">Buscar Ayudante</button>
            </form>
        </div>
    </div>
</div>
